nav ul li {
    display: inline-block;
    margin: 10px ;
    margin-left: 0px;
}
nav a {
    color: #fff;
    text-decoration: none;
}
nav {
    background-color: #1b3d77;   
}
header {
    display: flex;
    align-items:center;
    background-color: #2757a891;
    
}
article {
align-items: center;
}
article img {
    max-width: 100%;
    height: 500px;
    width: auto\9; /* ie8 */
}